<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>609768126062-fornsn3lvuimbit3jduns78t7jb0212d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609768126062-fornsn3lvuimbit3jduns78t7jb0212d</string>
	<key>API_KEY</key>
	<string>AIzaSyDB0VXzduxReMsUMVuEW5gQG_ZPnG8y80g</string>
	<key>GCM_SENDER_ID</key>
	<string>609768126062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Putitout.LaundryWalaz</string>
	<key>PROJECT_ID</key>
	<string>laundrywalaz-8f6f4</string>
	<key>STORAGE_BUCKET</key>
	<string>laundrywalaz-8f6f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:609768126062:ios:49bfcec26f787233</string>
	<key>DATABASE_URL</key>
	<string>https://laundrywalaz-8f6f4.firebaseio.com</string>
</dict>
</plist>